:root {
    --width-percent: 85%;
    --max-content-width: 70rem;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/*Header*/
header {
    background-color: #1F2937;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: var(--width-percent);
    max-width: var(--max-content-width);
}

#header-title {
    font-size: 24px;
    font-weight: 500;
    color: #F9FAF8;
}

nav > ul {
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

nav > ul > li {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* Hero Section */
.hero {
    background-color: #1F2937;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: var(--width-percent);
    max-width: var(--max-content-width);
    margin: 0 auto;
    padding: 3rem 1rem 5rem 1rem;
}

#hero-content {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

#hero-title {
    margin: -.5rem 0;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

#hero-text {
    margin: 0;
    color: #E5E7EB
}

#hero-sign-up {
    padding: .75em 2em;
    border: none;
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 700;
    font-size: 1rem;
}

.hero-wrapper > img {
    flex: 1 1 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Benefit cards */
.benefits {
    width: var(--width-percent)-10%;
    max-width: var(--max-content-width);
    margin: 0 auto;
    padding: 3rem;
}

.benefits-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

#benefits-title {
    margin: 0;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.benefit-cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.benefit-card {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0;
}

.benefit-card > img {
    content: url(https://images.unsplash.com/photo-1523875194681-bedd468c58bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
    width: max(150px, 10vw);
    height: max(150px, 10vw);
    border: 3px solid #3882f6;
    border-radius: 15px;
}
.benefit-card > p {
    margin: 0;
    text-align: center;
    color: #1F2937;
}

/* Quote Section */
#quote {
    margin: 0;
    background-color: #E5E7EB;
}

.quote-wrapper {
    width: calc(var(--width-percent) - 20%);
    max-width: var(--max-content-width);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 3rem;
}

#quote-text {
    align-self: flex-start;
    margin: 0;
    font-size: 36px;
    color:#1F2937;
    font-style: italic;
}
#quote-source {
    margin-right: max(2rem, 5vw);
    align-self: flex-end;
    font-size: 28px;
    font-weight: 700;
}
